-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('USER', 'NGO', 'ADMIN', 'VOLUNTEER', 'FOSTERER');

-- CreateEnum
CREATE TYPE "ReportType" AS ENUM ('SOS', 'LOST', 'FOUND', 'ADOPTION');

-- CreateEnum
CREATE TYPE "ReportStatus" AS ENUM ('REPORTED', 'NGO_NOTIFIED', 'VOLUNTEER_ASSIGNED', 'ESCALATED', 'RESCUED', 'SAFE', 'MATCHED', 'REUNITED', 'OPEN', 'IN_PROGRESS', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "SosCondition" AS ENUM ('ABANDONED', 'INJURED', 'LOST', 'STRAY');

-- CreateEnum
CREATE TYPE "AdoptionStatus" AS ENUM ('ACTIVE', 'AVAILABLE', 'PENDING', 'ADOPTED', 'WITHDRAWN', 'REJECTED', 'CLOSED');

-- CreateEnum
CREATE TYPE "AdoptionApplicationStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "CommunityPostTag" AS ENUM ('RESCUE', 'ADOPTION', 'REUNION', 'DAILY_JOY');

-- CreateEnum
CREATE TYPE "ReactionType" AS ENUM ('LOVE', 'CELEBRATE', 'PAWPRINT');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('REPORT_CREATED', 'REPORT_ASSIGNED', 'REPORT_UPDATED', 'SOS_REPORT', 'ADOPTION_REVIEW', 'ADOPTION_INTEREST', 'SOS_ALERT', 'ADOPTION_APPLICATION', 'COMMENT_REPORT', 'ESCALATION', 'REUNION', 'SYSTEM');

-- CreateEnum
CREATE TYPE "EmailDigestFrequency" AS ENUM ('INSTANT', 'DAILY', 'WEEKLY', 'NONE');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "phone" TEXT,
    "passwordHash" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'USER',
    "district" TEXT,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "fakeReportCount" INTEGER NOT NULL DEFAULT 0,
    "adopterPledgeAt" TIMESTAMP(3),
    "preferredDistricts" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "availability" TEXT,
    "bio" TEXT,
    "sosEmailPreference" TEXT NOT NULL DEFAULT 'daily',
    "adoptionEmailPreference" TEXT NOT NULL DEFAULT 'instant',
    "emailDigestFrequency" "EmailDigestFrequency" NOT NULL DEFAULT 'INSTANT',
    "notifyOnSos" BOOLEAN NOT NULL DEFAULT true,
    "notifyOnAdoptionApplication" BOOLEAN NOT NULL DEFAULT true,
    "notifyOnReunion" BOOLEAN NOT NULL DEFAULT true,
    "suspendedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PetReport" (
    "id" TEXT NOT NULL,
    "type" "ReportType" NOT NULL,
    "status" "ReportStatus" NOT NULL DEFAULT 'REPORTED',
    "condition" "SosCondition",
    "photos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "lat" DECIMAL(10,7) NOT NULL,
    "lng" DECIMAL(10,7) NOT NULL,
    "district" TEXT NOT NULL,
    "landmark" TEXT,
    "description" TEXT NOT NULL,
    "petName" TEXT,
    "species" TEXT,
    "breed" TEXT,
    "color" TEXT,
    "size" TEXT,
    "lastSeenDate" TIMESTAMP(3),
    "foundStatus" TEXT,
    "reporterName" TEXT,
    "reporterPhone" TEXT,
    "reporterEmail" TEXT,
    "reporterId" TEXT NOT NULL,
    "assignedNgoId" TEXT,
    "assignedVolunteerId" TEXT,
    "matchedReportId" TEXT,
    "matchedById" TEXT,
    "matchedAt" TIMESTAMP(3),
    "internalNotes" TEXT,
    "deletedAt" TIMESTAMP(3),
    "isEscalated" BOOLEAN NOT NULL DEFAULT false,
    "escalatedAt" TIMESTAMP(3),
    "socialSharedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PetReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NgoProfile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "orgName" TEXT NOT NULL,
    "regNumber" TEXT,
    "coverageDistricts" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "contactEmail" TEXT NOT NULL,
    "contactPhone" TEXT,
    "verified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "NgoProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdoptionListing" (
    "id" TEXT NOT NULL,
    "petName" TEXT NOT NULL,
    "species" TEXT NOT NULL,
    "age" TEXT,
    "estimatedAge" TEXT,
    "gender" TEXT,
    "size" TEXT,
    "district" TEXT,
    "healthStatus" TEXT,
    "healthNotes" TEXT,
    "temperament" TEXT,
    "specialNeeds" TEXT,
    "requirements" TEXT,
    "adoptionRequirements" TEXT,
    "photos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "listedById" TEXT NOT NULL,
    "status" "AdoptionStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdoptionListing_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdoptionApplication" (
    "id" TEXT NOT NULL,
    "listingId" TEXT NOT NULL,
    "applicantId" TEXT NOT NULL,
    "applicantName" TEXT NOT NULL,
    "livingSituation" TEXT NOT NULL,
    "hasGarden" BOOLEAN NOT NULL,
    "otherPets" TEXT NOT NULL,
    "experience" TEXT NOT NULL,
    "whyAdopt" TEXT NOT NULL,
    "consentHomeVisit" BOOLEAN NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "status" "AdoptionApplicationStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdoptionApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CommunityPost" (
    "id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "photos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "authorId" TEXT NOT NULL,
    "tag" "CommunityPostTag",
    "likes" INTEGER NOT NULL DEFAULT 0,
    "isSpotlight" BOOLEAN NOT NULL DEFAULT false,
    "spotlightAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CommunityPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comment" (
    "id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Comment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Reaction" (
    "id" TEXT NOT NULL,
    "type" "ReactionType" NOT NULL,
    "userId" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL,
    "message" TEXT NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "relatedReportId" TEXT,
    "relatedCommentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "actorId" TEXT,
    "action" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "details" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "District" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "District_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "PetReport_type_status_idx" ON "PetReport"("type", "status");

-- CreateIndex
CREATE INDEX "PetReport_district_idx" ON "PetReport"("district");

-- CreateIndex
CREATE INDEX "PetReport_reporterId_idx" ON "PetReport"("reporterId");

-- CreateIndex
CREATE INDEX "PetReport_assignedNgoId_idx" ON "PetReport"("assignedNgoId");

-- CreateIndex
CREATE INDEX "PetReport_assignedVolunteerId_idx" ON "PetReport"("assignedVolunteerId");

-- CreateIndex
CREATE INDEX "PetReport_matchedReportId_idx" ON "PetReport"("matchedReportId");

-- CreateIndex
CREATE INDEX "PetReport_species_color_size_idx" ON "PetReport"("species", "color", "size");

-- CreateIndex
CREATE INDEX "PetReport_createdAt_idx" ON "PetReport"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "NgoProfile_userId_key" ON "NgoProfile"("userId");

-- CreateIndex
CREATE INDEX "NgoProfile_verified_idx" ON "NgoProfile"("verified");

-- CreateIndex
CREATE INDEX "AdoptionListing_status_idx" ON "AdoptionListing"("status");

-- CreateIndex
CREATE INDEX "AdoptionListing_listedById_idx" ON "AdoptionListing"("listedById");

-- CreateIndex
CREATE INDEX "AdoptionListing_district_idx" ON "AdoptionListing"("district");

-- CreateIndex
CREATE INDEX "AdoptionListing_species_idx" ON "AdoptionListing"("species");

-- CreateIndex
CREATE INDEX "AdoptionApplication_listingId_idx" ON "AdoptionApplication"("listingId");

-- CreateIndex
CREATE INDEX "AdoptionApplication_applicantId_idx" ON "AdoptionApplication"("applicantId");

-- CreateIndex
CREATE INDEX "AdoptionApplication_status_idx" ON "AdoptionApplication"("status");

-- CreateIndex
CREATE INDEX "CommunityPost_authorId_idx" ON "CommunityPost"("authorId");

-- CreateIndex
CREATE INDEX "CommunityPost_createdAt_idx" ON "CommunityPost"("createdAt");

-- CreateIndex
CREATE INDEX "CommunityPost_isSpotlight_spotlightAt_idx" ON "CommunityPost"("isSpotlight", "spotlightAt");

-- CreateIndex
CREATE INDEX "Comment_postId_idx" ON "Comment"("postId");

-- CreateIndex
CREATE INDEX "Comment_authorId_idx" ON "Comment"("authorId");

-- CreateIndex
CREATE INDEX "Reaction_postId_idx" ON "Reaction"("postId");

-- CreateIndex
CREATE UNIQUE INDEX "Reaction_userId_postId_key" ON "Reaction"("userId", "postId");

-- CreateIndex
CREATE INDEX "Notification_userId_read_idx" ON "Notification"("userId", "read");

-- CreateIndex
CREATE INDEX "Notification_relatedReportId_idx" ON "Notification"("relatedReportId");

-- CreateIndex
CREATE INDEX "Notification_relatedCommentId_idx" ON "Notification"("relatedCommentId");

-- CreateIndex
CREATE INDEX "AuditLog_actorId_idx" ON "AuditLog"("actorId");

-- CreateIndex
CREATE INDEX "AuditLog_targetType_targetId_idx" ON "AuditLog"("targetType", "targetId");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "AuditLog"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "District_name_key" ON "District"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- AddForeignKey
ALTER TABLE "PetReport" ADD CONSTRAINT "PetReport_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PetReport" ADD CONSTRAINT "PetReport_assignedNgoId_fkey" FOREIGN KEY ("assignedNgoId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PetReport" ADD CONSTRAINT "PetReport_assignedVolunteerId_fkey" FOREIGN KEY ("assignedVolunteerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PetReport" ADD CONSTRAINT "PetReport_matchedReportId_fkey" FOREIGN KEY ("matchedReportId") REFERENCES "PetReport"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PetReport" ADD CONSTRAINT "PetReport_matchedById_fkey" FOREIGN KEY ("matchedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NgoProfile" ADD CONSTRAINT "NgoProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdoptionListing" ADD CONSTRAINT "AdoptionListing_listedById_fkey" FOREIGN KEY ("listedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdoptionApplication" ADD CONSTRAINT "AdoptionApplication_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES "AdoptionListing"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdoptionApplication" ADD CONSTRAINT "AdoptionApplication_applicantId_fkey" FOREIGN KEY ("applicantId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommunityPost" ADD CONSTRAINT "CommunityPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_postId_fkey" FOREIGN KEY ("postId") REFERENCES "CommunityPost"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reaction" ADD CONSTRAINT "Reaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Reaction" ADD CONSTRAINT "Reaction_postId_fkey" FOREIGN KEY ("postId") REFERENCES "CommunityPost"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_relatedReportId_fkey" FOREIGN KEY ("relatedReportId") REFERENCES "PetReport"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_relatedCommentId_fkey" FOREIGN KEY ("relatedCommentId") REFERENCES "Comment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

